* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #171923;
  --blue: #0011ad;
  --border-gray: #dddddd;
  --gray-text: #656565;
  --gray: #f9f9f9;
  --green: #48bb78;
  --green-hover: #3f9f67;
  --red: #e53e3e;
  --text: #202428;
  --hover: #f5f7f8;
  --hover-mobile: #ebebeb;
  --text-gray: #4d5760;
}

html {
  font-size: 62.5%;
}

body {
  background: #eef0f1;
  color: var(--text);
}

body,
input,
textarea,
button {
  font-family: Roboto, "Helvetica Neue";
}

button, a {
  color: var(--text);
}

.Form {
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  input {
    padding: 0.8rem;
    margin-bottom: 1rem;

    background: var(--gray);
    border: 1px solid var(--border-gray);

    border-radius: 0.4rem;
  }

  .ButtonContinue {
    margin-top: 2rem;
    margin-bottom: none;

    background: var(--green);
    color: white;
    font-weight: 500;

    cursor: pointer;

    border: none;
    font-size: 1.4rem;

    &:hover {
      background: var(--green-hover);
    }
  }
}

.Error {
  font-size: 1.6rem;
  color: tomato;
  margin: 1rem 0rem;
}

/* Basic editor styles */
.ProseMirror {

  min-height: 50rem;
  border-radius: 0.4rem;
  padding: 1rem;


  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}
