.header {
  background: white;
  border-bottom: 1px solid #dbddde;
  height: 6rem;
  position: sticky;
  top: 0;

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    margin: 0 auto;
    width: 65%;

    .headerTitle {
      h1 {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: bold;

        span {
          font-weight: lighter;
          text-transform: lowercase;
          font-style: italic;
          color: var(--green);
        }
      }
    }

    > div {
      display: flex;
      align-items: center;

      .userInfo {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0.8rem;
        border-radius: 0.4rem;

        &:hover {
          background: var(--hover);
        }

        img {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 100%;
          margin-right: 1rem;
        }
      }

      .hamburguerIcon {
        display: none;
      }

      .userMenuInfo {
        position: absolute;
        background: white;

        left: auto;
        right: 34rem;
        top: 5.9rem;
        padding: 1rem;

        border: 3px solid black;
        border-radius: 0.4rem;
        width: 25rem;

        .userMenuInfoNameAndUsername {
          display: flex;
          flex-direction: column;
          padding: 0.8rem;
          border-radius: 0.4rem;
          cursor: pointer;

          margin-bottom: .5rem;

          &:hover {
            background: var(--hover);
            color: var(--green);
          }

          .name {
            font-size: 1.6rem;
            font-weight: 500;
            margin-bottom: 0.5rem;
          }

          .username {
            font-size: 1.4rem;
            color: #7d8a97;
          }
        }

        nav {
          ul {
            li {
              list-style: none;
              padding: 1rem;
              border-radius: 0.4rem;
              cursor: pointer;
              width: 100%;

              a {
                text-decoration: none;
                color: var(--text);
                font-size: 1.4rem;

              }
    
              &:hover {
                background: var(--hover);
                color: var(--green);
              }
            }
          }
        }
      }
    }

    .nav {
      flex-direction: column;

      .navMobileHeader {
        display: none;
      }

      .navMobileEnter {
        display: none;
      }

      .navMobileNav {
        display: none;
      }

      ul {
        display: flex;
        align-items: center;

        li {
          list-style: none;
          font-size: 1.6rem;
          padding: 1rem 1.5rem;
          border-radius: 0.4rem;

          a {
            text-decoration: none;
            font-weight: 500;
            color: var(--green);
          }

          &:hover {
            background: var(--hover);
          }
        }

        .navButton {
          margin-left: 2rem;
          background: var(--green);

          a {
            color: white;
          }

          &:hover {
            background: var(--green-hover);
          }
        }
      }
    }

    .navMobileTouch {
      display: none;
    }

    .displayNone {
      display: none;
    }
  }
}

@media only screen and (max-width: 1280px){
  .header {
    .headerContainer {
      width: 95%;

      > div {
        .userMenuInfo {
          right: 4rem;
        }

      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    .headerContainer {
      width: 95%;

      > div {
        .userMenuInfo {
          right: 3rem;
        }

      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .header {
    .headerContainer {
      width: 98%;

      .headerTitle {
        padding: 0.8rem;
      }
      > div {
        .hamburguerIcon {
          display: flex;
          padding: 0.8rem;
          border-radius: 0.4rem;
          cursor: pointer;
          margin-left: 1rem;

          &:hover {
            background: var(--hover);
          }
        }

        .userMenuInfo {
          width: 90%;
          right: 0;
          left: 0;
          margin: 0 auto;
        }
      }

      .navMobileTouch {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100vh;
        z-index: 1;
      }

      .nav {
        display: none;
        ul {
          display: none;
        }
      }

      .navMobile {
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        width: 78%;
        height: 100%;
        z-index: 2;

        > ul {
          display: none;
        }

        .navMobileNav {
          display: flex;
          background: white;
          height: 100vh;

        }

        .navMobileHeader {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 6rem;
          border-bottom: 1px solid #dbddde;
          padding: 0 0.5rem;

          h3 {
            font-size: 1.8rem;
            padding: 0.8rem;
          }

          .cancelIcon {
            padding: 0.8rem;
            border-radius: 0.4rem;
            cursor: pointer;

            &:hover {
              background: var(--hover);
            }
          }
        }

        .navMobileEnter {
          display: flex;
          padding: 1rem;
          background: #fff;

          > div {
            border: 1px solid var(--border-gray);
            border-radius: 0.4rem;
            padding: 1.5rem;
            background: #f9fafa;

            p {
              font-size: 1.6rem;
              line-height: 1.5;
              font-weight: 500;
              margin-bottom: 2rem;
            }
          }

          .navMobileEnterButtons {
            display: flex;
            flex-direction: column;

            .navMobileEnterCreate {
              margin-bottom: 1rem;
              background: var(--green);
              color: white;

              a {
                text-decoration: none;
                color: white;
              }

              &:hover {
                background: var(--green-hover);
              }
            }

            button {
              padding: 1rem 0;
              border-radius: 0.4rem;
              border: none;
              background: none;
              font-weight: 500;
              font-size: 1.6rem;
              color: var(--green);
              cursor: pointer;

              a {
                text-decoration: none;
                color: black;
              }

              &:hover {
                background: var(--hover-mobile);
              }
            }
          }
        }
        .navMobileNav {
          padding: 1rem;

          ul {
            width: 100%;
            li {
              list-style: none;
              padding: 1rem;
              border-radius: 0.4rem;
              cursor: pointer;
              width: 100%;

              a {
                font-size: 1.6rem;
                text-decoration: none;
                color: black;

                span {
                  margin-right: 1.2rem;
                }
              }

              &:hover {
                background: var(--hover);
              }
            }
          }
        }
      }
    }
  }
}
